* {
    box-sizing: border box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
}

#game {
    height: 80vh;
    min-height: 500px;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin: 20px auto 10px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 19%;
    border-radius: 8px 26px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

.main-text {
    font-family: 'Syne', sans-serif;
    font-size: 9.3vw;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.input {
    border: 2px dashed #388895;
    background: #f4f4f4;
    width: 65%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.input::placeholder {
    color: #388895;

}

input:focus {
    outline: none;
    border: 2px dashed #e5f571;

}

.help-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset, #hint {
    background: #e5f571;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border-radius: 5px 10px;
}

#message {
    font-size: 1.2em;
}

input:hover, button:hover {
    cursor: pointer;
}

.submit {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}


/* REMOVE THE OUTER SPIN BUTTON FOR INPUT on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

footer, p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    padding-left: 10px;
}

.hide {
    display: none;
}

.g-col {
    /* background-color: #84e7f2; */
    background-image: linear-gradient(to top, #84e7f2 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease-in-out;
}

.u-col {
    /* background-color: #9de6a9; */
    background-image: linear-gradient(to top, #9de6a9 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease-in-out;
}

.e-col {
    /* background-color: #e5f571; */
    background-image: linear-gradient(to top, #e5f571 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease-in-out;
}

.s1-col {
    /* background-color: #f8d068; */
    background-image: linear-gradient(to top, #f8d068 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease-in-out;
}

.s2-col {
    /* background-color: #fb6428; */
    background-image: linear-gradient(to top, #fb6428 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease-in-out;
}

/* ANIMATE THE BACKGROUND IF WIN */
.blink {
    animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        background: #1BE7FF;
    }

    20% {
        background: #6EEB83;
    }

    40% {
        background: #E4FF1A;
    }

    60% {
        background: #FFB800;
    }

    80% {
        background: #FF5714;
    }

    100% {
        background: #1BE7FF;
    }
}

@-webkit-keyframes blink {
    0% {
        background: #1BE7FF;
    }

    20% {
        background: #6EEB83;
    }

    40% {
        background: #E4FF1A;
    }

    60% {
        background: #FFB800;
    }

    80% {
        background: #FF5714;
    }

    100% {
        background: #1BE7FF;
    }
}

/* MEDIA QUERY FOR SMALL SCREENS */
@media only screen and (max-width: 600px) {
    #game {
        min-height: 370px;
    }

    .col {
        height: 370px;
    }

    .main-text {
        font-size: 40px;
    }

    .message {
        font-size: 0.8em;
    }
}